body {
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.13);
    margin-bottom: 2%;
    
    h1 {
        text-shadow: 0 0 5px white;
        
    }
}

div {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 15vw;
        border-radius: 50%;
        box-shadow: 0 0 10px yellow;
    }

}